<footer class="bg-neutral-950">
  <div class="container mx-auto pb-2 px-4 pt-8">
    <p class="text-center text-neutral-500 text-sm">
      <a class="hover:text-neutral-400" href="https://www.damenor.com" target="_blank">damenor</a>
      <span>|</span>
      <span>{new Date().getFullYear()}</span>
      <span>Todos los derechos reservados</span>
    </p>
  </div>
</footer>
