---
import { HomeBannerSubscribe, HomeHero, HomeListOfTecnologies, HomeProjectCard, HomeProjects, HomeAbout } from '@/components/home'
import { Layout } from '@/layouts'
---

<Layout title="100 proyectos JS">
  <main class="relative bg-neutral-950 text-neutral-50 overflow-hidden pb-4 md:pb-32 font-mono">
    <HomeHero />

    <!-- <HomeAbout /> -->
    <HomeProjects />
    <HomeBannerSubscribe />
    <HomeListOfTecnologies />
  </main>
</Layout>
