---
import { Layout } from '@/layouts'
---

<Layout title="Api Geo IP - 100 JS">
  <main class="max-w-2xl mx-auto py-20">
    <h2 class="text-4xl font-bold">Api Geo IP</h2>
    <p class="text-neutral-400">Localiza la IP de un usuario y obtén información sobre su ubicación.</p>
    <form id="form" class="flex flex-col gap-4 mt-8">
      <label class="flex flex-col gap-2">
        IP del usuario
        <input class="bg-neutral-800 text-white rounded-md p-2" required id="input" type="text" placeholder="Introduce aquí la IP" />
        <small class="text-neutral-400">Por ejemplo: 54.85.132.205</small>
      </label>

      <button class="bg-emerald-400 text-neutral-950 font-bold rounded-xl p-2 active:scale-[0.99] transition-transform" type="submit" id="submit">
        Buscar información de esta IP
      </button>
    </form>

    <div class="mt-8">
      <pre id="results" class="invisible bg-neutral-800 p-4 rounded-md"></pre>
    </div>
  </main>
</Layout>

<script type="module">
  const OPTIONS = {
    method: 'GET',
    headers: {
      'X-RapidAPI-Key': 'XXX',
      'X-RapidAPI-Host': 'YYY',
    },
  }

  const fetchIpInfo = ip => {
    return fetch(`https://freeipapi.com/api/json/${ip}`, OPTIONS)
      .then(res => res.json())
      .catch(err => console.error(err))
  }

  const $ = selector => document.querySelector(selector)

  const $form = $('#form')
  const $input = $('#input')
  const $submit = $('#submit')
  const $results = $('#results')

  $form.addEventListener('submit', async event => {
    event.preventDefault()
    const { value } = $input
    if (!value) return

    $submit.setAttribute('disabled', '')
    $submit.setAttribute('aria-busy', 'true')

    const ipInfo = await fetchIpInfo(value)

    if (ipInfo) {
      $results.innerHTML = JSON.stringify(ipInfo, null, 2)
      $results.classList.remove('invisible')
    }

    $submit.removeAttribute('disabled')
    $submit.removeAttribute('aria-busy')
  })
</script>
