---
import { Layout } from '@/layouts'
import { MobileNotAvailable } from '@/components'
---

<Layout title="100 proyectos JS - Arkanoid">
  <div class="flex-1">
    <a class="text-neutral-500 hover:text-neutral-50" href="/">Volver al inicio</a>
  </div>
  <div class="flex flex-col items-center gap-2">
    <canvas width="448" height="400"></canvas>
    <MobileNotAvailable />
  </div>
  <img hidden id="sprite" src="/images/arkanoid/sprite.png" alt="Sprite Arkanoid" />
  <img hidden id="bricks" src="/images/arkanoid/bricks.png" alt="Sprite Bricks Arkanoid" />
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  canvas {
    background: url('/images/arkanoid/bkg.png') repeat;
  }
</style>

<script>
  import { Arkanoid } from '@/modules/arkanoid'

  const canvas = document.querySelector('canvas')!
  const sprite = document.querySelector('#sprite') as HTMLImageElement
  const bricksImage = document.querySelector('#bricks') as HTMLImageElement

  const game = new Arkanoid(canvas, sprite, bricksImage)
</script>
