@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Modificar scrollbar */
    --scrollbar-width: 8px;
    --scrollbar-height: 8px;
    --scrollbar-color: #ffee00;
  }

  /* Modificar scrollbar */
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
  }
}
